[General]
StartupHintsDirectory=./startupHints

[App]
PreferredLanguage=french
ProductWebAddress=http://www.sankore.org
ToolBarPositionedAtTop=true
ToolBarOrientationVertical=false
EnableStartupHints=true
ToolBarDisplayText=true
EnableAutomaticSoftwareUpdates=true
PageCacheSize=20
SwapControlAndDisplayScreens=false
UseMusliscreenMode=true
StartMode=
AngleTolerance=4
DataDirectory=C:/Logiciels/MyApps/SankorePortable/Data/settings
UserImageDirectory=../../Data/MesImages
UserVideoDirectory=../../Data/MesVideos
UserAudioDirectory=../../Data/MesAudios
DrawingPaletteOrientationHorizontal=false

[Board]
crossDarkBackgroundColor=127 127 127
crossLightBackgroundColor=83 173 173
KeyboardPaletteKeyBtnSize=16x16
PenLightBackgroundColors=#000000, #FF0000, #004080, #008000, #C87400, #800040, #008080, #5F2D0A
PenDarkBackgroundColors=#FFFFFF, #FF3400, #66C0FF, #81FF5C, #FFFF00, #B68360, #FF497E, #8D69FF
MarkerAlpha=0.5
MarkerLightBackgroundColors=#E3FF00, #FF0000, #004080, #008000, #C87400, #800040, #008080, #000000
MarkerDarkBackgroundColors=#FFFF00, #FF4400, #66C0FF, #81FF5C, #B68360, #FF497E, #8D69FF, #FFFFFF
PenLightBackgroundSelectedColors=#000000, #FF0000, #004080, #008000
PenDarkBackgroundSelectedColors=#FFFFFF, #FF3400, #66C0FF, #81FF5C
MarkerLightBackgroundSelectedColors=#E3FF00, #FF0000, #004080, #008000
MarkerDarkBackgroundSelectedColors=#FFFF00, #FF4400, #66C0FF, #81FF5C
ZoomFactor=1.41
PenColorIndex=0
MarkerColorIndex=0
PenPressureSensitive=true
MarkerPressureSensitive=false
UseHighResTabletEvent=true
StartupKeyboardLocale=0
LeftLibPaletteBoardModeWidth=270
LeftLibPaletteBoardModeIsCollapsed=false
RightLibPaletteBoardModeWidth=270
RightLibPaletteBoardModeIsCollapsed=false
FeatureSliderPosition=40
DarkBackground=0
EraserCircleWidthIndex=1
DefaultPageSize=@Size(1280 960)
CrossedBackground=0
PenLineWidthIndex=0
pageDpi=0
EraserMediumWidth=64
RightLibPaletteDesktopModeWidth=270
RightLibPaletteDesktopModeIsCollapsed=false
LeftLibPaletteDesktopModeWidth=270
LeftLibPaletteDesktopModeIsCollapsed=false
MarkerLineWidthIndex=0
MarkerFineWidth=12
PenFineWidth=1.5
PenMediumWidth=3
PenStrongWidth=8
MarkerMediumWidth=24
MarkerStrongWidth=48

[Cache]
Color=0 0 0
KeepAspectRatio=true

[Community]
CredentialsPersistence=false
Password=
Username=

[YouTube]
CredentialsPersistence=false
UserEMail=

[DockPalette]
TeacherGuideActivatePageZero=true
TeacherGuideActivateLessonPages=true

[Library]
AudiosDirectory=./library/audios
VideosDirectory=./library/videos
ImageDirectory=./library/pictures
AnimationsDirectory=./library/animations
ApplicationsDirectory=./library/applications
InteractivitiesDirectory=./library/interactivities
ShapeDirectory=./library/shape

[SVG]
ViewBoxMargin=50

[Document]
ThumbnailWidth=150

[Web]
ShowPageImediatelyOnMirroredScreen=true
UseExternalBrowser=false
Homepage=http://www.sankore.org
