a  { 
	font-family : arial, helvetica, sans-serif;
	color : #2E33E3;
	font-size : 18pt;
	background-color : transparent;
	text-decoration: none;  
	font-weight:bold 
} 
a:link{
	font-family : arial, helvetica, sans-serif;
	color: #8789F4;
	background-color: transparent;
 	font-size: 10pt; 
 	text-decoration: none;
}
a:hover{
	font-family : arial, helvetica, sans-serif;
	color: #2E33E3;
	background-color: transparent;
 	font-size: 10pt; 
	text-decoration : underline;
} 

/**************************************************************************/
/* All elements */
body, h2, h3, h4, h5, p, th, tr, td, p, table, span, blockquote, div, caption, ul, ol, li{
	FONT-FAMILY: arial, helvetica, sans-serif;
}


BODY{
	COLOR: #000000;
  	MARGIN-BOTTOM: 0px; 
	MARGIN-LEFT: -15px; 
	MARGIN-RIGHT: 0px; 
	MARGIN-TOP: -15px;
	PADDING: 0px;
	BACKGROUND-COLOR: #FFFFFF;
}
H1{
	FONT-SIZE: 18pt;
	COLOR: #000000;
	left:100px;
}
H2{
   	font-size: 16pt;
	 color: #222222; 
	font-weight: bold
	
}
H3{
   	FONT-SIZE: 14pt;   
	COLOR: #666666;
	background-color: transparent;
	font-weight: bold;
}
H4{
   	FONT-SIZE: 8pt;  
}
LI{
	FONT-SIZE: 12pt;  
	padding: 0px;
	margin-left: -10px;
	font-weight: normal;
}
UL UL {
	margin-left: 0px;
	padding-left: 0px;
}

UL UL LI{	
	list-style-type: circle;
}

TH{
	FONT-SIZE: 14pt;   
	font-weight: bold;
	text-align: left;
}

P{
	font-size: 12pt;
	margin: 10px 0px 0px 0px;
	PADDING: 0px;
	font-weight: normal
}
HR{
	height: 1px;
	color:#000080;
	background-color: transparent;
}

#description2{
	position:absolute; 
	top: 20px;
	left:20px;  
	width: 90%; 
	height:80px; 
	z-index:1
}


 #previous{
	position : absolute;
	left : 400px; 
	top : 25px; 
	width : 250px; 
	z-index : 100; 
} 

 
