h1 {
	padding-left: 80px;
	background-image: url(icones/images_actives_application.png);
        background-repeat: no-repeat;
        background-position: left top;
        height: 64px;
	color: rgb(255,136,0);
	margin-left: 52px;
}
body>header {
	margin-top:-21px;
	padding: 21px 0px 1px 0px; 
	background-color:#313131;
}
 
body, html, header {
	margin:0;
	padding:0;
}
body {
font-family: Arial, Helvetica, Sans-Serif;
}
figcaption {
	font-weight: bold;
	display: block;
	font-size: 14px;
	margin-top: 0.5em;
	text-align: center;
	color: rgb(69,69,69);
}
figure {
	display: inline-block;
	padding: 15px;
	background-color: rgb(233,233,233);
	text-align: center;
}
figure>img {
	border: thin rgb(0,0,0) solid;
	padding: 10px;
	background-color: rgb(255,255,255);
}
nav,section {
	padding: 5px 20px 0px 20px;
	margin:0;
}
html{
margin: 0 ;
padding: 0 ;
}
nav {
	padding: 10px;

}
body>nav+section {
 margin-bottom:6em;
}
.attention {
background-image: url(icones/attention.png);
background-repeat: no-repeat;
background-position: left center;
padding: 20px 20px 20px 80px;
border-radius:15px; 
background-color:rgb(255,136,0);;
color:#313131;
font-weight: bold;
}
body>header+p {
text-align:center;
}